:root {
  --color-primary-shade-1: #467a66;
  --color-primary-shade: #4f9779;
  --color-primary: #46a67e;
  --color-primary-tint: #59d2a0;
  --color-secondary: #bdbdbd;
  --color-tertiary: #f0fff5;
  --color-tertiary-1: #e9f2ec;

  --color-black: #2f463d;

  --color-white: #f2f2f2;
  --color-white-full: #fff;

  --color-grey--tint: #e0e0e0;
  --color-grey: #828282;
  --color-grey-light: #7a8f85;
}

// Border radius

$border-radius-standard: 4px;
$border-radius-standard-bigger: 5px;
